.pContainer {
    margin: 0 auto;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title>div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.projects {
    display: flex;
    flex-direction: column;
    gap: 30px;
    overflow-x: hidden;
}

.project {
    display: flex;
    gap: 50px;
    overflow: hidden;
}

.project div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.project span {
    font-weight: 700;
    font-size: 2rem;
}

.project button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
    border: none;
    font-size: 1.5rem;
    color: var(--pink);
    text-align: left;
    display: flex;
    align-items: center;
    transition: 200ms all;
}

.project button:hover {
    transform: scale(105%);
}

.image {
     min-width: 50%;
     max-width: 50%;
     width: 50%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  height: auto;
}

@media (max-width:1024px) {
    .title {
        flex-direction: column;
        gap: 20px;
    }

    .title>div {
        display: flex;
        width: 100%;
    }

    .project {
        flex-direction: column !important;
    }

    .project span {
        font-size: 1.5rem;
    }

    .project button {
        font-size: 1rem;
    }
    .image {
    width: 100%
}

}