SIMULATE_WAIT_IN_MS=0 # Simula demora nas consultas de base de dados.
IMAGE_UPLOADER_DIR='uploads' # Pasta que as imagens ficam salvas (dentro de public)
IMAGE_SERVER_URL='http://localhost:3000/uploads' # URL da pasta das imagens que foram enviadas

# Chave usada para assinar os tokens JWT
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar uma secret key
JWT_SECRET_KEY=''

# Tempo para o login expirar (use o mesmo valor em seconds e string)
# Ex: 3600 -> 1h, 600 -> 10m, 60 -> 1m, 86400 -> 1d
LOGIN_EXPIRATION_SECONDS=86400
LOGIN_EXPIRATION_STRING='1d'

# Nome do cookie usado para login
LOGIN_COOKIE_NAME='loginSession'

# Nome do seu usuário
LOGIN_USER=''
# Senha do usuário em base64
LOGIN_PASS=''

# Permite ou não login (0 = Não, 1 = Sim)
ALLOW_LOGIN=1