.skeleton {
    width: 18rem;
    padding: 1rem;
    text-align: center;
    border-radius: .8rem;
    display: contents;
}

.cardTitle, .cardDescription {
    background-color: #29202b;
    border-radius: inherit;
    animation: shimmer 1s infinite;
}

.cardTitle {
    height: 15px;
    margin-bottom: 1rem;
}

.cardDescription {
    height: 15rem;
}

@keyframes shimmer {
    0% {
        opacity: 0%;
    }
    50% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}