.cContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}

.form{
    background-color: var(--second-background);
    border-radius: 32px;
    width: 640px;
    height: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.form input{
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    width: 480px;
    min-height: 40px;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    resize: none;
}

.textarea {
    background-color: var(--background-color);
    border: none;
    border-radius: 10px;
    width: 480px;
    min-height: 40px;
    padding: 10px 25px;
    color: white;
    font-size: 20px;
    resize: none;
    height: 125px;
}

.form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

@media (max-width:1024px){
    .cContainer {
        width: full;
    }

       .form{
        max-width: 80vw;
        padding: 2rem;
        height: fit-content;
        gap: 20px;
    }

    .form input{
        width: 100%;
        min-height: 40px;
        font-size: 1rem;
    }

    .textarea {
        width: 100%;
        min-height: 40px;
        font-size: 1rem;
    }
    
}


